@using WebApp.DTOs;
@model TransactionDTO;

<h3>Transfer Operation</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OperationType" class="control-label p-1"></label>
                <input asp-for="OperationType" class="form-control p-1" value="Transfer" disabled/>
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label p-1"></label>
                <input asp-for="Amount" class="form-control p-1" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label p-1"></label>
                <input asp-for="Description" class="form-control p-1" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAccountId" class="control-label p-1"></label>
                <input asp-for="DestinationAccountId" placeholder="@Guid.Empty" class="form-control p-1" />
                <span asp-validation-for="DestinationAccountId" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <a href="~/Account/Index/@ViewData["accId"]"><input class="btn btn-secondary" value="Back To Account" /></a>
                <input type="submit" value="Transfer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>