html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td{
    text-align:center;
}

th{
    text-align:center;
}

div.div-hover:hover{
    border-color : cornflowerblue !important;
}


a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a.link-decorator-disable{
    text-decoration: none !important;
}

.text-bolded {
    font-weight: bold !important;
}

div.hide-scroll{
    overflow:hidden;
}

.toast {
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    max-width: 350px;
    font-size: .875rem;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
    opacity: 0;
    border-radius: .25rem;
}

.toast.bg-success {
    background-color: rgba(40, 167, 69, .9) !important;
}

.toast.show {
    display: block;
    opacity: 1;
}

.fade {
    transition: opacity .15s linear;
}

.float-right {
    float: right !important;
}
